#loading{
    display: none;
     background-color: black;
     opacity: 0.9;
     height: 100%;
     width: 100%;
     position: fixed;
     z-index: 9999;
     margin-top: 0px;
     top: 0px;
     left:0;
     z-index: 9999;
 
 }
 #loading-center{
     width: 100%;
     height: 100%;
     position: relative;
     z-index: 999;
 }
 #loading-center-absolute {
     position: absolute;
     left: 50%;
     top: 50%;
     height: 150px;
     width: 150px;
     margin-top: -75px;
     margin-left: -75px; 
     
     z-index: 9999;
 
 }
 