/*Icones Formulario*/
.iconInput { position: relative }
.iconInput input { padding-left: 28px }
.iconInput i { position: absolute; padding: 9px 10px }

.info
{
  text-align: center;
}

.edit
{
	border:none;
	color: black;
	font-size: 14pt;
}

.edit:focus
{
	border: 1px solid #ced4da
}

.sem_paciente
{
	font-size: 16pt;
	text-align: center;
	color: red;
}

