*{
	margin: 0;
	padding: 0;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.box {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 500px;
	height: 500px;
	z-index: 999;
	
}
body {
	margin: 0px;
}

.form-box
{
	display: flex;
	flex-direction: column;
}

.form-box input
{
	border: 2px solid #F397A4;
	width: 300px;
	padding: 3%;
	border-radius: 100px;
	font-size: 16pt;
	margin-top: 2%;
	margin-bottom: 2%;
	color: #3E4095;
	text-align: center;
}

.form-box input:focus
{
	border: 2px solid #F397A4;
}

.iconInput { position: relative }
.iconInput input { padding-left: 28px }
.iconInput img { position: absolute; padding: 14px 10px;
	width: 30px;height: 30px; }


	.btn
	{
		border:2px solid #3E4095;
		background-color: #3E4095;
		width: 350px;
		padding: 3%;
		border-radius: 100px;
		font-size: 16pt;
		margin-top: 2%;
		margin-bottom: 2%;
		color: white;
		text-align: center;
		cursor: pointer;
	}

	.btn:hover
	{
		border:2px solid  #171868;
		background-color: #171868;
	}

	.message
	{
		text-align: center;
		color: #3E4095;
	}
	.message2
	{
		text-align: center;
		color: #F397A4;
	}

	.box #logo
	{
		width: 250px;
		height: 200px;
		margin-bottom: 2%;
	}



	@media only screen and (max-width: 1600px)
	{

	}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	
	
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	.btn
	{
		width: 290px;
	}
	.form-box input
	{
		
		width: 250px;
		
	}
	.box #logo
	{
		width: 230px;
		height: 180px;
		margin-bottom: 2%;
	}
}

@media only screen and (max-width: 330px)
{
	.btn
	{
		width: 290px;
	}
	.form-box input
	{
		
		width: 250px;
		
	}
	.box #logo
	{
		width: 230px;
		height: 180px;
		margin-bottom: 2%;
	}
	.container
	{
		margin-top: 10%;
	}

}


